<div id="contact" class="container footer">
  <div class="col-lg-6 company-info">
    <div class="">
      <table>
        <tr>
          <th colspan="2">Severnside Construction Ltd.</th>
        </tr>
        <tr>
          <td class="footer-icon"><i class="fa fa-address-book-o" aria-hidden="true"></i></td>
          <td>10 Nailsworth Terrace, Cheltenham, L50 4BE</td>
        </tr>
        <tr>
          <td class="footer-icon"><i class="fa fa-phone" aria-hidden="true"></i></td>
          <td>
            <a href="tel:01452224752">01452 224752</a></td>
        </tr>
        <tr>
          <td class="footer-icon"><i class="fa fa-mobile" aria-hidden="true"></i></td>
          <td>
            <a href="tel:07812602726">07812 602726</a></td>
        </tr>
        <tr>
          <td class="footer-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></td>
          <td>
            <a href="mailto:info@severnsideconstructionltd.com" target="_top">info@severnsideconstructionltd.com</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-6 contact-form">
    <h1>Contact Us</h1>
    <p>
      For any enquiries or questions, please call or use the contact form provided. We will endever to reply as soon as possible.
    </p>
    <div>
      <form id="contact-us" method="post" action="http://formspree.io/dompaints@gmail.com">
        <div class="col-lg-4 contact-col">
            <!-- Name -->
            <input type="text" name="Name" id="name" required="required" class="form" placeholder="Name" />
            <!-- Telephone -->
            <input type="tel" name="Telephone" id="telephone" required="required" class="form" placeholder="Telephone" />
            <!-- Email -->
            <input type="email" name="Email" id="email" required="required" class="form" placeholder="Email"/>
        </div>
        <div class="col-lg-8 contact-col">
          <!-- Message -->
          <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
          <!-- Submit -->
          <button type="submit" id="submit" class="form-btn semibold">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- /.container -->
<a href="#" class="back-to-top"></a>
<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendors/bootstrap.min.js"></script>

<script type="text/javascript" src="/vendors/underscore-min.js"></script>
<script type="text/javascript" src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js"></script>
<script type="text/javascript" src="/vendors/smtp.js"></script>
<script type="text/javascript" src="/js/actions.js"></script>