<!--
<header id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div id="banner-carousel" class="carousel-inner">
        <div class="item active">
          <img class="main-carousel" src="img/carousel/000.JPG">
        </div>
        <div class="item">
          <img class="main-carousel" src="img/carousel/001.JPG">
        </div>
        <div class="item">
          <img class="main-carousel" src="img/carousel/002.JPG">
        </div>
    </div> -->
