<div class="error-wrapper">
  <div class="gallery-text">
    <table>
      <tr>
        <td>Oops!</td>
      </tr>
      <tr>
        <td>Nothing to see here.</td>
      </tr>
    </table>
  </div>
  <div class="error-blind">
    <div class="gallery-item gallery-4"></div>
  </div>
</div>
