
<div class="gallery-wrapper">
  <p class="gallery-text">
    Severnside Construction Ltd
  </p>
  <div class="blind">
    <div class="gallery-item gallery-1"></div>
  </div>
  <div class="triangle">
    <i class="fa hvr-icon-hang" aria-hidden="true"></i>
  </div>
</div>
