<div class="container headlines-section">
    <span class="section-title">OUR FOUNDATIONS</span>
    <div class="row top-row">
       <div class="col-lg-4 text-centered headline-title">
         <i class="fa fa-handshake-o icon-1" aria-hidden="true"></i>
         <h1>Professional</h1>
         <p>We are time served professionals and have 25 years experience working within the trade.</p>
       </div>
       <div class="col-lg-4 text-centered headline-title">
         <i class="fa fa-diamond icon-2" aria-hidden="true"></i>
         <h1>Quality</h1>
         <p>The materials we use are of the highest quality as we hand pick them using only the most reputable suppliers in and around area.</p>
       </div>
       <div class="col-lg-4 text-centered headline-title">
         <i class="fa fa-users icon-3" aria-hidden="true"></i>
         <h1>Recommended</h1>
         <p>Most times we get new jobs just from recommendations as a lot of our customers pass our details to their friends and family.</p>
       </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-centered headline-title">
          <i class="fa fa-clock-o icon-4" aria-hidden="true"></i>
          <h1>Reliable</h1>
          <p>We always provide services on time and within the planned budget.</p>
        </div>
        <div class="col-lg-4 text-centered headline-title">
          <i class="fa fa-arrows icon-5" aria-hidden="true"></i>
          <h1>Flexible</h1>
          <p>We provide a wide range of services.</p>
        </div>
        <div class="col-lg-4 text-centered headline-title">
          <i class="fa fa-graduation-cap icon-6" aria-hidden="true"></i>
          <h1>Qualified</h1>
          <p>Member of the The Guild of Master Craftsmen.</p>
        </div>
    </div>
</div>
