<div class="container image-banner">
  <div class="col-lg-4 banner-wrapper banner-wrapper-1">
    <div class="col-lg-12 banner-1"></div>
  </div>
  <div class="col-lg-4 banner-wrapper banner-wrapper-2">
    <div class="col-lg-12 banner-2"></div>
  </div>
  <div class="col-lg-4 banner-wrapper banner-wrapper-3">
    <div class="col-lg-12 banner-3"></div>
  </div>
</div>
