<div id="reviews" class="container reviews-section">
    <div class="row text-center">
        <span class="section-title">OUR REVIEWS</span>
    </div>

    <div class="scroll col-lg-8 col-md-offset-2 carousel-content">
      <% data.reviews.forEach(function(review){ %>
        <div>
          <h2><%= review.work %></h2>
          <p><i class="fa fa-quote-left" aria-hidden="true"></i>
          <%- review.review %>
          <i class="fa fa-quote-right" aria-hidden="true"></i></p>
          <h3><%=review.client %></h3>
        </div>
      <% }) %>
    </div>
</div>
