<% include ../partials/header %>

<% include ../partials/nav %>

<div class="container-fluid home-full error-page">
  <% include sections/error-page %>

  <% include ../partials/footer %>

</div>
