<% include ../partials/header %>

<% include ../partials/nav %>

<div class="container-fluid home-full">
  	<% include sections/gallery %>
	<% include sections/about %>
  	<% include sections/image-banner %>

	<% include sections/headlines %>

	<% include sections/portfolio %>

	<% include sections/reviews %>


<% include ../partials/footer %>

</div>
</body>
